<!doctype html>
<html>
<head>
    <title>회원가입</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/core.min.js"></script>
    <script type="text/javascript" src="public/sha256.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>회원가입</h2>
        </div>
        <form action="/api/register" method="post">
            <div class="form-group">
                <label for=nickanme>닉네임</label>
                <input type="text" class="form-control" name="nickname" placeholder="닉네임을 입력하세요.">
            </div>
            <div class="form-group">
                <label for="inputpassword">비밀번호</label>
                <input type="text" class="form-control" id="inputpassword" placeholder="비밀번호를 입력하세요.">
            </div>
            <input type="hidden" name="password" id="password">
            <button type="submit" class="btn btn-success btn-block" onclick="encryptpassword();">회원가입</button>
        </form><br>
        <button type="button" class="btn btn-info btn-lg" onClick="history.back();">이전</button>&nbsp;
    </div>
</body>
<script>
    function encryptpassword(){
        // 비밀번호 단방향 암호화
        let encrypted=CryptoJS.SHA256(CryptoJS.SHA256($('#inputpassword').val()).toString()).toString()
        $('#password').val(encrypted)
    }
</script>
</html>